<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>设备通道列表</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all">
</head>
<body class="layui-layout-body">

{{template "navLayout/navLayout.html" .}}
{{/*获取外域信息并显示在相对应的表格中*/}}
<table class="layui-hide" id="cameraTable" lay-filter="cameraTable"></table>

{{/*开启数据表格行工具栏*/}}
<script type="text/html" id="barcamera">
    {{/*    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>*/}}
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="/static/layui/layui.js" charset="utf-8"></script>

<script>
    layui.use(['table', 'element', 'layer'], function () {
        var table = layui.table,
            $ = layui.jquery,
            layer = layui.layer;

        table.render({
            elem: '#cameraTable'
            , title: '摄像头信息表'
            , toolbar: '#toolbarcamera'
            , cols: [[
                {type: 'checkbox', fixed: 'left'}
                , {field: 'phoneNum', title: 'PhoneNum', width: 200}
                , {field: 'logicalChannelID', title: '逻辑通道号', width: 150}
                , {field: 'physicalChannelID', title: '物理通道号', width: 150}
                , {field: 'status', title: '状态', width: 150}
                , {field: 'alarm', title: '报警信息', width: 150}
                , {field: 'right', title: '操作', toolbar: '#barcamera', width: 200}
            ]]
            , data: []
            , page: true //是否显示分页
        });

        //监听行工具栏事件
        table.on('tool(cameraTable)', function (obj) {
            var data = obj.data;
            if (obj.event == 'del') {
                // var arr = new Array();
                // arr.push({
                //     "serial": data["deviceid"],
                //     "session": getCookie("loginToken"),
                //     "usertype": data["usertype"]
                // });

                layer.confirm('真的确定要删除吗', {btn: ['确定', '取消'], title: '提示'}, function (index) {
                    $.post("/api/v1/home/delDevice", JSON.stringify({
                        DAS: {
                            "phoneNum": data.phoneNum,
                            "physicalChannelID": data.physicalChannelID
                        }
                    }), function (result) {
                        layer.msg("正在删除中，请稍后！！！");
                        window.location.reload();
                    });
                    obj.del();
                    layer.close(index);
                });
            }else if (obj.event == 'edit') {
                layer.open({
                    type: 1,
                    content: $("#updateAddDevice"),
                    area: ['800px', '400px'],
                    success: function (layero, index) {//弹出层打开后的回调函数,数据回显
                        $('#ChanNum').val(data.Url);
                        $('#Password').val(data.Password);
                        $('#UserName').val(data.UserName);
                    },
                });
            }
        });

        $.ajax({
            type: "GET",
            dataType: "json",
            contentType: "application/json;charset=utf-8",
            url: "/api/v1/home/getData",
            async: false,//Ajax同步请求
            success: function (result) {
                if (result.ErrorCode == 200) {
                        table.reload("cameraTable", {
                            data: result.ChannelList
                        });
                } else {
                    layer.alert("数据库无响应，请稍后再试！！！");
                }
            },
        });
    });


</script>
</body>
</html>